/* Give a remote user a caret */
.collaboration-cursor__caret {
    border-left: 1px solid light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-0));
    border-right: 1px solid light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-0));
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-0));
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
}
