.bar {
    height: 45px;
    background-color: var(--raven-docs-body-bg, var(--mantine-color-body));
    padding-left: 12px;
    padding-right: 10px;
    margin-left: calc(var(--app-shell-padding, var(--mantine-spacing-md)) * -1);
    margin-right: calc(var(--app-shell-padding, var(--mantine-spacing-md)) * -1);
    position: sticky;
    top: 0;
    z-index: 99;
    inset-inline-start: var(--app-shell-navbar-offset, 0rem);
    inset-inline-end: var(--app-shell-aside-offset, 0rem);
    display: flex;
    align-items: center;
}

.menuOnly {
    position: sticky;
    top: 0;
    z-index: 99;
    inset-inline-start: var(--app-shell-navbar-offset, 0rem);
    inset-inline-end: var(--app-shell-aside-offset, 0rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    padding-inline: 10px;
    margin-inline: calc(var(--app-shell-padding, var(--mantine-spacing-md)) * -1);
    background-color: transparent;
}

@media print {
    .bar {
        display: none;
    }
}
