.header, .aside {
  background-color: var(--raven-docs-surface-bg, var(--mantine-color-body));
}

.navbar {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

.resizeHandle {
  width: 3px;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.resizeHandle:hover,
.resizeHandle:active {
  width: 5px;
  background: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-5));
}

.main {
  background-color: var(--raven-docs-body-bg, var(--mantine-color-body));
  min-height: calc(100vh - 45px);
  padding-top: calc(var(--app-shell-header-height, 45px) + var(--page-tabs-height, 0px));
}

@media (max-width: 48em) {
  .navbar, .aside {
    width: 350px;
  }

  .aside {
    margin-top: 45px;
  }
}
