.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.section {
  padding-left: var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  margin-bottom: var(--mantine-spacing-xs);
}

.sectionTasks {
  display: flex;
  flex-direction: column;
  padding: 0 var(--mantine-spacing-xs);
  flex: 1;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.menu {
  position: relative;
  display: flex;
  color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-3));
  border-radius: 6px;
  font-size: var(--mantine-font-size-sm);
  padding-left: var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-xs);
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  transition: background-color 0.1s ease-in-out;
  width: 100%;
  text-align: left;
}

.menu:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  cursor: pointer;
}

.menu:active {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.activeButton {
  background-color: var(--mantine-primary-color-light);
  color: var(--mantine-primary-color-filled);
}

.activeButton:hover {
  background-color: var(--mantine-primary-color-light-hover);
}

.menuItemInner {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.menuItemIcon {
  min-width: 18px;
  min-height: 18px;
  color: inherit;
}

.tasksHeader {
  margin-bottom: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-xs);
  padding-right: var(--mantine-spacing-xs);
  padding-top: var(--mantine-spacing-sm);
}

.tasks {
  flex: 1;
  overflow-y: auto;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-1));
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
}

.active {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  color: var(--mantine-primary-color-filled);
}

.active .icon {
  color: var(--mantine-primary-color-filled);
}

.icon {
  color: var(--mantine-color-gray-6);
  margin-right: var(--mantine-spacing-sm);
}
